.bookingCard {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 20px;
  padding: 2vw;
  font-family: var(--main-font);
  font-size: 1.5vw;
  width: 50vw;
}

.bookingCardData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.bookingCardImage img {
  object-fit: cover;
  width: 8vw;
  height: 8vw;
}

.bookingInProressText {
  font-weight: 700;
}

.bookingFinishedText {
  font-weight: 700;
  color: rgba(15, 159, 2, 1);
}

.bookingCard button {
  align-self: center;
  font-size: 1.5vw;
  color: var(--white);
  background-color: var(--light-grey);
  padding: 0.1rem 1rem;
  border-radius: 20px;
  border: none;
  height: 4vw;
}

.bookingCard button:hover {
  cursor: pointer;
  background-color: var(--red);
}

