.card {
  border-radius: 20px; 
  background-color: var(--white);
  overflow: hidden;
  display: inline-block;
  font-family: var(--main-font);
  color: var(--title);
  background-color: var(--body);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: min-content;
  max-width: 10vw;
  max-height: 100%;
  min-height: 170px;
  max-height: 200px;
}

.card .card__image{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__details{
  width: 100%;
  height: 10vh;
  padding: 1vh;
}

.card__details-name {
  font-size: .8em;
  padding-bottom: 2vh;
}

.card__details-price{
  font-size: 1.2em;
}