.card {
  border-radius: 20px;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  font-family: var(--main-font);
  color: var(--title);
  background-color: var(--body);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-height: 40vh;
  height: 43vh;
  max-width: 230px;
  min-width: 230px;
  max-height: 45vh;
  transition: all .1s ease-in-out;
}

.card:hover{
  outline: 3px solid var(--red);
}

.card-img__container{
  position: relative;
}

.card .card__image {
  width: 100%;
  min-height: 25vh;
  max-height: 25vh;
  object-position: center center;
  object-fit: cover;
}

.card__details {
  padding: .5vw;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.card__details-reviewCount {
  align-self: flex-end;
  font-size: 0.8rem;
  padding-top: 2px;
}

.card__details-name {
  font-size: 1.5em;
  width: 100%;
  padding: .5vw;
  word-wrap: break-word;
}

.card__details-category {
  font-size: 1.2em;
  padding: .5vw;
  word-wrap: break-word;
}

.card__details-score {
  align-self: flex-end;
  justify-self: end;
  font-weight: 700;
  font-size: 1.4em;
}