.card {
  border-radius: 20px; 
  background-color: var(--white);
  overflow: hidden;
  display: inline-block;
  font-family: var(--main-font);
  color: var(--title);
  background-color: var(--body);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: min-content;
  max-width: 15vw;
}

.card .card__image{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card__details{
  width: 100%;
  height: auto;
  padding: 2vw;
}

.card__details-name {
  font-size: 1.2em;
  padding-bottom: 2vh;
}

.card__details-price{
  font-size: 1.5em;
}

@media (max-width: 480px) {

  .card{
    max-width: 60vw;
    width: 100%;
  }
}