
.slick-slider {
    position: relative;
    padding: 0 16px; /* Espacio en los laterales */
    margin: 2% 15%;
    width: 900px;
    height: auto;

  }
  
  /* Estilo para cada tarjeta del carrusel */
  .slick-slide {
    padding:20px;
    width: 5%; /* Espacio entre las tarjetas */
  }
  
  /* Estilo para las flechas "Anterior" y "Siguiente" */
  button.slick-arrow {
    background-color: rgb(58, 58, 58); 
    border: none; /* Sin borde */
    color: #333; /* Color de la flecha */
    font-size: 24px; /* Tamaño de la flecha */
    position: absolute;
    top: 50%; /* Alineado verticalmente en el centro */
    transform: translateY(-50%);
    z-index: 1; 
    cursor: pointer;
  }
  
  button.slick-prev {
    left: 0; /* Alinea a la izquierda */
  }
  
  button.slick-next {
    right: 0; /* Alinea a la derecha */
  }

  .carousel__title{
    text-align: center;
    font-family: var(--main-font);
    color: var(--title);
    font-weight: 700;
    font-size: 30px;
    margin-top: 6%;

  }