.characteristics-container {
  width: 75vw;
  margin: 0 auto;
  background-color: var(--btn);
  color: var(--white);
  padding: 3vw;
  font-family: var(--main-font);
}

.characteristics-container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 1.5em;
}

.characteristics-container__share-div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.characteristics-container__share-div:hover {
  cursor: pointer;
}

.characteristics-container__title .characteristics-container__share-div {
  width: 8vw;
  border-radius: 20px;
  padding: 2vw;
  background-color: var(--grey);
}

.characteristics-container__share-img{
  z-index: 200;
}

.characteristic-container {
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 1vw;
  padding: 1vh 0;
}

.characteristic__image {
  width: 1.5vw;
  min-width: min-content;
}

.characteristic__name {
  font-size: 1.3rem;
  padding: 0;
}
