.characteristics-container{
  width: 75vw;
  margin: 0 auto;
  background-color: var(--btn);
  color: var(--white);
  padding: 4vw;
  font-family: var(--main-font);
}

.characteristics-container__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
}

.characteristics-container__title img{
  width: 3vw;
}

.characteristics-container__title img:hover{
  cursor: pointer;
}

.characteristics-container p{
  background-color: red;
}