.createCharacteristicPage {
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  width: 100%;
}

.createCharacteristicSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: rgba(25, 29, 32, 1);
  margin: 4vw;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.createCharacteristic-title {
  background-color: rgba(237, 40, 57, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
}

.createCharacteristic-title p {
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: 700;
}

.createCharacteristicSection form {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 500;
}

.createCharacteristicSection form label {
  padding: 2vh 0 0.8vh 0;
}

.createCharacteristicSection form input,
.createCharacteristicSection form textarea,
.createCharacteristicSection form select {
  padding: 1vh 0 1vh 0;
  border-radius: 45px;
  padding-left: 1vw;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 400;
}

.createCharacteristicSection form input::placeholder {
  vertical-align: top;
  line-height: 1;
}

#detail {
  height: 15vh;
  border-radius: 20px;
  display: flex;
}

.icons-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.icons-container img {
  cursor: pointer;
  gap: 2rem;
  height: 1.5rem;
  justify-self: center;
}

.selected-icon-label{
  align-self: center;
}

.selected-icon {
  height: 2rem;
  align-self: center;
  filter: invert(39%) sepia(100%) saturate(7414%) hue-rotate(358deg) brightness(95%) contrast(126%);
}

.icons-container img:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}


#agregar {
  background-color: rgba(237, 40, 57, 1);
  width: 126px;
  height: 36px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  font-family: Helvetica;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  align-self: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 0;
}

@media (max-width: 768px) {
  .createCharacteristicSection {
    width: 80%;
  }
}
