.detail-container{
  max-width: 22vw;
  background-color: var(--btn);
  font-family: var(--main-font);
  font-weight: 700;
  min-width: min-content;
}

.detail__instrument-name{
  display: flex;
  align-items: center;
  padding-left: 2vw;
  width: 100%;
  background-color: var(--red);
  height: 10vh;
  font-size: 2em;
}

.detail__instrument-description{
  padding: 5vh 2vw;
  font-size: 1.2em;
  line-height: 32px;
  max-height: 40vh;
  overflow: scroll; /* Oculta el texto que desborda el contenedor */
  text-overflow: ellipsis;
}

.detail__instruments-description__disponibility{
  text-align: center;
}

.detail__instruments-description__disponibility__title{
  font-size: 1.6em;
  background-color: var(--red);
  margin-bottom: 3vh;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}