.home-button{
  display: flex;
  align-items: center;
  width: 75vw;
  margin: 0 auto;
  justify-content: flex-end;
  padding-top: 5vh;
  font-family: var(--main-font);
  color: #4f4f4f;
  font-size: 1.2em;
}

.home-button:hover{
  cursor: pointer;
}

.detail-product__container{
  color: var(--white);
  display: flex;
  width: 75vw;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .detail-product__container{
    flex-direction: column;
  }
}