.detail-container {
  max-width: 22vw;
  background-color: var(--btn);
  font-family: var(--main-font);
  font-weight: 700;
  min-width: min-content;
}

.detail__instrument-name {
  display: flex;
  align-items: center;
  padding-left: 2vw;
  width: 100%;
  background-color: var(--red);
  height: 10vh;
  font-size: 2vw;
}

.detail__instrument-description {
  padding: 3vh 2vw;
  font-size: 1.4vw;
  line-height: 2.3vw;
  max-height: 50vh;
  font-weight: 400;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: var(--red) var(--white); /* Cambia estos valores a tu preferencia */
}

.detail__instrument-description::-webkit-scrollbar {
  background-color: var(--white);
}

.detail__instrument-description::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 1000px;
}

.detail__instruments-description__disponibility {
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail__instruments-description__disponibility__title {
  font-size: 1.6vw;
  background-color: var(--red);
  display: flex;
  height: 6vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .detail-container{
    max-width: 100%;
  }
  
  .detail__instrument-name {
    justify-content: center;
    padding-left: 2vw;
    width: 100%;
    background-color: var(--red);
    height: 5vh;
    font-size: 5vw;
  }

  .detail__instrument-description {
    padding: 1vh 5vw;
    font-size: 1.2em;
    line-height: 2rem;
    max-height: 30vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  .detail__instruments-description__disponibility__title {
    font-size: 4vw;
  }

}