.footer {
  flex-direction: column;
  background-color: var(--white);
  justify-content: space-around;
}

.footer-brand-logos {
  padding: 4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footer-brand-logos-boxes {
  display: flex;
  max-width: 20vw;
  min-width: 12vw;
  height: 8vw;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-brand-logos-boxes:hover {
  transform: scale(1.03);
  transition: all 0.5s;
}

.footer-brand-logos-boxes img{
  width: 90%;
}

.footer-brand-logos-boxes .gibson {
  padding-top: 3vh;
}

.footer-principal {
  background: var(--black);
  color: var(--white);
  padding: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-principal-contact-box {
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.footer-principal-title {
  font-family: var(--main-font);
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-bottom: 2vh;
}

.footer-principal-contact-content{
  width: 100%;
  padding-bottom: 2vh;
}

.footer-principal-contact-content-text{
  font-family: var(--main-font);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: 700;
  text-align: left;
  padding-bottom: 1vh;
}

.footer-principal-contact-content-text p{
  display: inline-block;
  min-width: min-content;
}

.colored-text {
  color: var(--red);
  font-weight: 500;
}

.footer-principal-contact-socialnetworklogos{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.fontAwesomeIcons {
  color: var(--red);
  height: 45px;
}

.fontAwesomeIcons:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

.whatsapp,
.mail{
  display: none;
}

.footer-principal-information-content {
  display: inline-block;
  font-size: 20px;
  width: auto;
  height: 20vh;
}

.footer-principal-information-content p {
  font-family: Helvetica;
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: 2vh;
  text-align: left;
}

.footer-principal-information-content a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 1em;
  font-weight: 700;
  padding-bottom: 2vh;
  min-width: min-content;
  display: block;
}

.footer-principal-information-content a:hover {
  color: var(--red);
}

.footer-principal-information-logo img {
  display: inline-block;
  width: 6vw;
}

.footer-principal-information-logo img:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  cursor: pointer;
}

.footer-copyright {
  height: 4vh;
  background: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: min-content;
}

.footer-copyright p {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 1.1em;
}

/* MOBILE SCREEN */
@media (max-width: 480px) {
  .footer-principal{
    flex-direction: column;
    align-items: space-around;
    height: 60vh;
    gap: 5vh;
  }

  .footer-principal-contact-box,
  .footer-principal-information-content{
    width: 90%;
    max-width: none;
  }

  .footer-principal-contact-content{
    display: none;
  }

  .footer-copyright {
    background: var(--light-grey);
    text-align: center;
    height: auto;
  }

  .whatsapp,
  .mail{
    display: inline-block;
  } 


}
