.form-register__error{
  background-color: var(--form-error);
  border-radius: 15px;
  min-width: min-content;
  display: flex;
  max-height: 15vh;
  min-height: 15vh;
  align-items: center;
  justify-content: center;
  padding: 2vh 1vw;
  visibility: hidden;
}