.form-login label{
  padding: 1vh 0;
}

.form-login__email,
.form-login__password{
  display: flex;
  flex-direction: column;
}

.form-login input{
  max-height: 5vh;
  height: 5vh;
  min-height: 4vh;
  width: 90%;
  border-radius: 45px;
  border: none;
  background-color: var(--body);
  padding-left: 2vw;
  font-size: .8em;
}

.form-login input:focus{
  outline: 3px solid var(--red);
}

.form-login__buttons{
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-login__buttons button{
  background-color: var(--red);
  border: none;
  color: var(--white);
  height: 5vh;
  min-width: min-content;
  width: 5vw;
  max-width: 5vw;
  font-size: .8em;
  font-weight: 700;
  border-radius: 10px;
}

.form-login__buttons button:hover{
  cursor: pointer;
}

.form-login__buttons a{
  font-size: .75em;
  padding-left: 1vw;
  color: var(--white);
  margin: 0 auto;
}
