.phone{
  background-color: var(--light-grey);
  text-align: center;
  width: 100%;
  display: block;
}

.phone-text{
  color: var(--white);
  padding: 4px 0;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.hide{
  display: none;
}

.header__search-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 133px;
  align-items: center;
  background-color: var(--dark-grey);
}

.header__search-bar__logo{
  width: 100px;
  height: 100px;
  margin-left: 2vw;
}

.header__search-bar__img{
  width: 100px;
  height: 100px;
}

.header__search-bar__form{
  width: 60%;
  margin-left: 10vw;
  display: flex;
  align-items: center;
}

.header__search-bar__form__input{
  width: 100%;
  height: 44px;
  border-radius: 50px;
  border: 2px solid var(--black);
  padding: 0 17px;
  font-size: 17px;
}

.header__search-bar__form__input::placeholder{
  background-image: url('../images/search.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.header__search-bar__form__submit{
  display: flex;
  align-items: center;
}

.header__search-bar__form__input:focus{
  outline: none;
}

.header__action-buttons{
  display: flex;
  margin-right: 5vw;
  margin-left: 3vw;
  gap: 1vw;
}