.header {
  position: sticky;
  top: 0;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--victoria-800);
}

.header__logo{
  padding: 5px;
  display: inline-block;
  margin-left: 5px;
  width: 200px;
}

.header__buttons {
  display: inline-block;
}

.header__buttons__button-menu{
  display: none;
}

.header__buttons__button-login,
.header__buttons__button-create{
  height: 36px;
  width: 150px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  font-size: 20px;
  transition: all .1s ease-in-out;
}

.header__buttons__button-login{
  color: var(--white);
  background-color: transparent;
}

.header__buttons__button-login:hover{
  cursor: pointer;
  text-decoration: underline;
}

.header__buttons__button-create{
  font-weight: bold;
  background-color: var(--white);
  color: var(--victoria-950);
}

.header__buttons__button-create:hover{
  background-color: var(--victoria-400);
  color: var(--white);
  cursor: pointer;
}

.open{
  display: block;
}

.close{
  display: none;
}

/* MEDIA QUERIE FOR MOBILES */
@media (max-width: 480px) {
  aside{
    position: absolute;
    height: 100vh;
    background-color: var(--victoria-800);
    width: 100vw;
    top: 0;
    right: 0;
    z-index: 1;
    top: 12vh;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__buttons__button-menu{
    display: block;
  }

  .header__buttons__button-login,
  .header__buttons__button-create{
    width: 100%;
    height: 100px;
    margin: 0;
    border-radius: 0;
    background-color: var(--victoria-800);
    color: var(--white);
    font-size: 24px;
    border: none;
  }

  .header__buttons__button-login:hover,
  .header__buttons__button-create:hover{
    background-color: var(--white);
    border: none;
    color: var(--victoria-800);
  }

}

/* MEDIA QUERIE FOR TABLETS */
@media (min-width: 480px) and (max-width: 767px) {

  aside{
    position: absolute;
    height: 100vh;
    background-color: var(--victoria-800);
    width: 50vw;
    top: 0;
    right: 0;
    z-index: 1;
    top: 12vh;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__buttons__button-menu{
    display: block;
  }

  .header__buttons__button-login,
  .header__buttons__button-create{
    width: 100%;
    height: 100px;
    margin: 0;
    border-radius: 0;
    background-color: var(--main-color);
    color: var(--white);
    font-size: 24px;
    border: none;
  }

  .header__buttons__button-login:hover,
  .header__buttons__button-create:hover{
    background-color: var(--white);
    border: none;
    color: var(--victoria-800);
  }
}

/* MEDIA QUERIE FOR TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  aside{
    display: inline-block;
  }
}
