.login{
  background-color: var(--grey);
  padding: 2vw;
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--white);
  padding: 2vw 15vw;
}

.login__title{
  background-color: var(--red);
  text-align: center;
  color: var(--white);
  padding: 1.8vw;
  display: block;
  border-radius: 20px 20px 0 0;
  font-size: 2em;
  max-width: 80%;
  margin: 0 auto;
}

.login__content{
  margin: 0 auto;
  background-color: var(--dark-grey);
  font-size: 2em;
  padding: 0 2vw;
  min-height: 45vh;
  max-width: 80%;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.login__content span{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 30vh;
  font-weight: 700;
}

.login__content span::before{
  content: url("https://s3.us-east-2.amazonaws.com/1023c04-grupo1/1701464020131-Line.png");
}

.login__content span::after{
  content: url("https://s3.us-east-2.amazonaws.com/1023c04-grupo1/1701464020131-Line.png");
}

.login__social-buttons{
  display: flex;
  width: 35%;
  flex-direction: column;
  height: 35vh;
  justify-content: space-around;
  align-items: center;
}

.login__social-button-facebook,
.login__social-button-google,
.login__social-button-twitter{
  width: 80%;
  height: 6vh;
  border: none;
  border-radius: 10px;
}

.login__social-button-facebook:hover,
.login__social-button-google:hover,
.login__social-button-twitter:hover{
  cursor: pointer;
  outline: 3px solid var(--red);
}

.login__social-button-facebook{
  background-color: var(--facebook);
}

.login__social-button-google{
  background-color: var(--body);
}

.login__social-button-twitter{
  background-color: var(--total-black);
}