.NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vw;
}

.NotFound img {
    height: 25vw;
}

.NotFound h1 {
    color: var(--red);
    font-family: var(--main-font);
    font-size: 3vw;
}