.product__content{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0vh 1vw 5vh 5vh;
}

.product__total{
  margin: 0 auto;
  display: inline-block;
  text-align: right;
  display: block;
  width: 90%;
  padding: 4vh 0;
  font-family: var(--main-font);
  color: var(--btn);
  font-size: 20px;
}