.adminProductList {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  padding: 2vw;

  justify-content: space-between;
}

.pageNumbersDiv {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.pageNumbersDiv img {
  height: 1.2vw;
  color: var(--red);
}

.pageNumber {
  font-family: var(--main-font);
  font-size: 1.7vw;
  font-weight: 700;
  color: rgb(199, 199, 199);
  border: 0px;
  background-color: var(--black);
  cursor: pointer;
}

.pageNumber__reset{
  color: var(--red);
  font-family: var(--main-font);
  font-size: 1em;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
}

.currentNumberPage {
  color: var(--red);
}

.background-light{
  background-color: var(--body);
}

.background-dark{
  background-color: var(--black);
}