.form-register{
  background-color: var(--dark-grey);
  width: 80%;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;
}

.form-register__content{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw;
}

.form-register__spinner{
  width: 100%;
  min-height: 10vh;
  bottom: 10px;
  position: absolute;
  margin: 0 auto;
  background-color: blue;
  display: inline-block;
}