.register-container{
  background-color: var(--grey);
  padding: 2%;
}

.register{
  width: 70%;
  margin: 0 auto;
  color: var(--white);
  font-size: 20px;
  font-family: var(--main-font);
}

.register__title {
  border-radius: 15px 15px 0 0;
  background-color: red;
  padding: 2vw;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__title h3 {
  text-align: center;
  width: 65%;
  font-size: 2em;
  text-align: right;
}

.register__title a {
  color: var(--white);
  font-size: 1.1em;
  margin-left: auto; /* Empuja el Link a la derecha del contenedor */
}

.form-register{
  background-color: var(--dark-grey);
  width: 100%;
  border-radius: 0 0 15px 15px;
}

.form-register__content{
  width: 95%;
  margin: 0 auto;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  padding: 2vw;
}

.form-register__content div{
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.form-register label{
  font-size: 1.4em;
}

.form-register div input{
  height: 3.5vw;
  outline: none;
  padding: 1vw;
  background-color: var(--body);
  border-radius: 45px;
  font-size: 1em;
  height: 3vw; 
  width: 100%;
  border: none;
}

.form-register div input:focus{
  outline: 5px solid var(--red);
}

.form-register .form-register__submit{
  margin-right: auto;
  width: 25%;
  padding-left: 1vw;
}

.form-register .form-register__submit button{
  width: 100%;
  background-color: var(--red);
  border: none;
  height: 3vw;
  color: var(--white);
  font-weight: 700;
  border-radius: 10px;
  font-size: 1.2em;
  margin: 0 auto;
  transition: all .2 ease-in-out;
}

.form-register .form-register__submit button:hover{
  cursor: pointer;
  background-color: var(--white);
  color: var(--red);
  outline: 2px solid var(--red);
}
