.register-container{
  background-color: var(--grey);
  padding: 2%;
}

.register{
  width: 70%;
  margin: 0 auto;
  color: var(--white);
  font-size: 20px;
  font-family: var(--main-font);
}

.register__title {
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0 0;
  background-color: var(--red);
  padding: 2vw;
  color: var(--white);
  gap: 2vw;
}

.register__title h3 {
  text-align: center;
  min-width: 65%;
  font-size: 1.8em;
  display: inline-block;
  text-align: center;
}

.register__title a {
  color: var(--white);
  font-size: 1.1em;
  margin-left: auto; /* Empuja el Link a la derecha del contenedor */
  min-width: min-content;
}