.header__search-bar {
  width: 100%;
  height: 20vh;
  position: fixed;
  margin: 0 auto;
  top: 8vh;
  background-size: cover;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

.header__search-bar__title{
  font-size: 52px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: bolder;
  background-color: black;
  width: 45%;
  padding: 30px;
  margin: 20px auto;
  height: 50px;
  letter-spacing: 2px;
}

.header__search-bar__form{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.header__search-bar__form__button{
  padding: 0;
  background-color: var(--victoria-700);
  border: none;
  height: 52px;
  padding: 2px;
}

.header__search-bar__form__button{
  cursor: pointer;
}

.header__search-bar__form__input{
  height: 48px;
  width: 60%;
  padding: 25px;
  font-size: 28px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid grey;
}

.header__search-bar__form__input:focus{
  outline: none;
  border: 1px solid #3483fa;
}

