.accountPanel {
  margin: 2% 10% 2% 10%;
  display: flex;
}

.accountButtons {
  background-color: var(--black);
  border-radius: 20px 0px 0px 20px;
  width: 20vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  padding-top: 4vh;
  align-items: center;
}

.accountButtons button {
  background-color: var(--red);
  width: 18vw;
  height: 6vh;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: var(main-font);
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
}

.accountContent {
  background-color: var(--light-grey);
  width: 60vw;
  min-height: 60vh;
  border-radius: 0px 20px 20px 0px;
}

.selectedAccountButton {
  width: 21vw !important;
  position: relative;
  left: 1.5vw;
}

@media (max-width: 1024px) {
  .accountPanel {
    margin: 2% 5% 2% 5%;
  }

  .accountButtons button {
    font-size: 1rem
  }
  
}

