:root {
  --light-grey: #4f4f4f;
  --dark-grey: #191D20;
  --grey: #383836;
  --red: #ed2839;
  --title: #1E1E1E;
  --white: #FFF;
  --black: #252525;
  --total-black: #000000;
  --btn: #292f33;
  --body: #e5e5e5; 
  --facebook: #3B589A;
  --main-font: Helvetica, Arial, sans-serif;
  --secondary-font: "Calibri", Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body);
  height: 85vh;
}

.btn {
  min-width: min-content;
  min-width: min-content;
  background-color: var(--btn);
  height: auto;
  padding: 1vh 2vh;
  color: var(--white);
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
}

.navigation-menu {
  position: sticky;
  top: 0px;
  background-color: var(--red);
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  outline: 1px solid var(--red);
  z-index: 4;
}

.navigation-menu a {
  text-decoration: none;
  color: var(--white);
  font-size: 1em;
  font-family: var(--main-font);
  font-weight: 700;
}
