:root{
  --light-grey: #333333;
  --dark-grey: #191D20;
  --red: #ED2839;
  --title: #513d3f;
  --white: #FFF;
  --black: #000000;
  --btn: #292F33;
  --main-font: Helvetica, Arial, sans-serif;
  --secondary-font: "Calibri", Arial, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn{
  width: 121px;
  background-color: var(--btn);
  height: 43px;
  padding: 10px;
  color: var(--white);
  border-radius: 10px;
  border: none;
  font-size: 15px;
}

.btn:hover{
  cursor: pointer;
}

.navigation-menu{
  position: sticky;
  top: 0;
  background-color: var(--red);
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-menu a{
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
  font-family: var(--main-font);
  margin: 0 70px;
  font-weight: 700;
}
